html {
    --accent-color: rgb(123, 99, 192);
    --primary-color: rgb(59, 59, 59);
    --background-color: rgb(44, 44, 44);
    --element-color: rgb(255, 255, 255);
    --outdent: 0px -0.2rem 0.4rem rgba(0, 0, 0, 0.5) inset, 0px 0.2rem 0.2rem rgba(255, 255, 255, 0.3) inset;
    --indent: 0px 0.2rem 0.4rem rgba(0, 0, 0, 0.3) inset, 0px -0.2rem 0.2rem rgba(255, 255, 255, 0.2) inset;
}

div#page {
    font-family:Helvetica, Arial, sans-serif;
    display: grid;
    place-items: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background-color);
}

#login-box {
    border: 0px;
    width: 20rem;
    text-align: center;
    background-color: var(--primary-color);
    border-radius: 1rem;
    display: grid;
    gap: 1rem;
    padding: 1rem;
    box-shadow: var(--outdent);
    color: var(--element-color);
}

h1 {
    font-weight: 700;
    font-size: 2rem;
    padding: 1rem;
}

#email, #password, #login, #create {
    padding: 0.5rem;
    padding-left: 1rem;
    border-radius: 2rem;
}

#email, #password {
    box-shadow: var(--indent);
    outline: 0;
}

#login {
    border: 0px;
    color: var(--element-color);
    background-color: var(--accent-color);
    box-shadow: var(--outdent);
}
#login, #create {
    cursor: pointer;
}
#login:active {
    box-shadow: var(--indent);
}